#header-579 {
    background-image: url(../img/default/header-8.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/default/header-8.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/default/header-8.jpg', sizingMethod='scale')";
    background-color: #000000;
}
#header-5792 {
    background-image: url(../img/default/header-4.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/default/header-4.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/default/header-4.jpg', sizingMethod='scale')";
    background-color: #000000;
}
#header-5791 {
    background-image: url(../img/default/header-1.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/default/header-1.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/default/header-1.jpg', sizingMethod='scale')";
    background-color: #000000;
}
#imagebackground-259 {
    background-color: #ddd4ce;
}

.list-enlarge{
    line-height: 250%;
}
#imagebackground-DQblBdDs {
    background-image: url(../img/default/cover.jpg);
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/default/cover.jpg ', sizingMethod='scale'
    );
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/default/cover.jpg', sizingMethod = 'scale') ";
    background-color: #000000;
}
#gmaps-g3ynF0w5 {
    height: 300px;
}

#imagebackground-560 {
    background-image: url(../img/default/blur.jpg);
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/default/blur.jpg', sizingMethod='scale'
    );
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/default/blur.jpg', sizingMethod = 'scale') ";
    background-color: #ddd4ce;
}

#imagebackground-13 {
    background-color: #ffffff;
}

#gmaps-vEUcvI82 {
    height: 300px;
}

#header-ONib4utr {
    background-image: url(../img/default/header-1.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/default/header-1.jpg', sizingMethod = 'scale'
    );
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/default/header-1.jpg', sizingMethod = 'scale') "; background-color : #000000;
}
#imagebackground-113 {
    background-color: #ddd4ce;
}
#imagebackground-HpvXDDZW {
    background-image: url(../img/default/header-9.jpg);
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=' img /default/ header-9.jpg ', sizingMethod = ' scale '
    );
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=&#39; img /default/ header-9.jpg ', sizingMethod = ' scale ') "; background-color : #000000;
}
#gmaps-KqcqgcD6 {
    height: 300px;
}
#gmaps-N6V11EWx {
    height: 300px;
}


#header-8763 {
    background-image: url(../img/default/header-4.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/default/header-4.jpg', sizingMethod='scale'
    );
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/default/header-4.jpg', sizingMethod = 'scale') ";
    background-color: #000000;
}

#header-8766 {
    background-image: url(../img/default/header-6.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/default/header-6.jpg', sizingMethod='scale'
    );
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/default/header-6.jpg', sizingMethod = 'scale') ";
    background-color: #000000;
}

#header-876 {
    background-image: url(../img/default/header-8.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/default/header-8.jpg ', sizingMethod='scale'
    );
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/default/header-8.jpg ', sizingMethod = 'scale') ";
    background-color: #000000;
}
#imagebackground-363 {
    background-color: #ddd4ce;
}
#imagebackground-483 {
    background-color: #ffffff;
}


#header-ig0uDqND {
    background-image: url(../img/default/header-7.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/default/header-7.jpg', sizingMethod='scale'
    );
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/default/header-7.jpg', sizingMethod = 'scale') ";
    background-color: #000000;
}
#gmaps-GScrZQ3Q {
    height: 300px;
}

#header-mMoz5bZK {
    background-image: url(../img/default/header-4.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/default/header-4.jpg', sizingMethod='scale'
    );
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/default/header-4.jpg', sizingMethod = 'scale') ";
    background-color: #000000;
}
#imagebackground-435 {
    background-image: url(../img/default/blur.jpg);
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/default/blur.jpg', sizingMethod='scale'
    );
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/default/blur.jpg', sizingMethod = 'scale') ";
    background-color: #ddd4ce;
}


#header-NliW2mCm {
    background-image: url(../img/default/header-3.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/default/header-3.jpg', sizingMethod = 'scale'
    );
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/default/header-3.jpg', sizingMethod = 'scale') "; background-color : #000000;
}


#header-375 {
    background-image: url(../img/default/header-8.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/default/header-8.jpg', sizingMethod='scale'
    );
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/default/header-8.jpg', sizingMethod = 'scale') ";
    background-color: #000000;
}
#header-3753 {
    background-image: url(../img/default/header-4.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/default/header-4.jpg', sizingMethod='scale'
    );
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/default/header-4.jpg', sizingMethod = 'scale') ";
    background-color: #000000;
}
#header-3756 {
    background-image: url(../img/default/header-6.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/default/header-6.jpg', sizingMethod='scale'
    );
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/default/header-6.jpg', sizingMethod = 'scale') ";
    background-color: #000000;
}