/* =============================================
 * Pricing Table
 * 
 * @type WebRock Object
 * ============================================= */
.pricing-table {
  margin-bottom: 20px;
  /***********************************
              Theming
************************************/ }
  .pricing-table .panel {
    border: 1px solid transparent;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .pricing-table .panel .panel-heading {
      padding: 20px; }
  .pricing-table:hover {
    /* Title
    ************************/ }
    .pricing-table:hover .panel {
      border: 1px solid #90360a; }
    .pricing-table:hover .pricing-table-price h1 {
      color: #90360a; }
    .pricing-table:hover .pricing-table-title {
      color: #90360a; }
  .pricing-table .pricing-table-title {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin: 20px 0;
    /* Price
    ************************/ }
  .pricing-table .pricing-table-price {
    /* List Items
    ************************/ }
    .pricing-table .pricing-table-price h1 {
      margin: 0;
      font-size: 48px;
      color: #90360a;
      z-index: 3;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .pricing-table .pricing-table-price p {
      margin: 0;
      color: #58514e; }
  .pricing-table .list-group {
    /* Footer
    ************************/ }
    @media screen and (max-width: 767px) {
  .pricing-table .list-group {
    padding-top: 0px; } }
    .pricing-table .list-group .list-group-item {
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; }
  .pricing-table .pricing-table-footer {
    padding: 0px;
    /* Panel Primary Price Color
    ************************/ }
    .pricing-table .pricing-table-footer .btn {
      -webkit-box-shadow: 0 0 0 transparent;
      -moz-box-shadow: 0 0 0 transparent;
      box-shadow: 0 0 0 transparent; }
  .pricing-table .panel {
    margin: 0;
    padding: 0; }
  .pricing-table .panel-primary .pricing-table-price h1 {
    color: #90360a; }
    .pricing-table .panel-primary .pricing-table-price p {
      color: #58514e; }

.pricing-table-default .panel-heading {
  background: #fff; }
  .pricing-table-default .panel-heading:after {
    border-top-color: #fff; }
  .pricing-table-default .list-group {
    background: #fff; }
  .pricing-table-default .list-group .list-group-item {
    background: #fff; }
  .pricing-table-default .list-group .list-group-item:hover {
    background: #ddd4ce; }

.pricing-table-inverse .panel-heading {
  background: #272321; }
  .pricing-table-inverse .panel-heading:after {
    border-top-color: #272321; }
  .pricing-table-inverse .pricing-table-title {
    color: #fff; }
  .pricing-table-inverse .pricing-table-price p {
    color: #897f79; }
  .pricing-table-inverse .list-group {
    background: #fff; }
  .pricing-table-inverse .list-group .list-group-item {
    background: #fff; }
  .pricing-table-inverse .list-group .list-group-item:hover {
    background: #ddd4ce; }
